<div class="d-flex justify-content-center align-items-center">
    <h1>Welcome to Scheduled Tweets</h1>
</div>

<% if Current.user %>
    Logged in as : <%= Current.user.email  %>

    <%= button_to "Logout", logout_path, method: :delete %>
<% end %>