<h1>Schedule A Tweet</h1>

<%= form_with model: @tweet do |form| %>
    <div class="mb-3">
        <%= form.label :twitter_account_id %>
        <%= form.collection_select :twitter_account_id, Current.user.twitter_accounts, :id, :username, {}, { class: "form-control"}%>
          <%= link_to "Connect your Twitter Account", "/auth/twitter", class: "btn btn-primary" %>
    </div>
<% end %>